<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
  </head>
  <body>
<!--     <h1>Hello web</h1> -->
    <div id="form-wrapper">
      <form id="form">
        <input id="title" type="text" name="message" placeholder="send a message">
        <input id="send" type="submit">
      </form>
    </div>
    <div id="message-list">
      
    </div>
    
    <script type="text/javascript">
      function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function getDate(){
    var date = new Date()
    var day = date.getDate()
    var month = date.getMonth()+1
    var year = date.getFullYear()
    return(`${year}-${month}-${day}`)
  }
  function getTime(){
    var today = new Date()
    var hour = today.getHours()
    var minutes = today.getMinutes()
    var seconds = today.getSeconds()
    return(`${hour}:${minutes}:${seconds}`)
  }
  var csrftoken = getCookie('csrftoken');

      renderMessages()

      function renderMessages(){
        var wrapper = document.getElementById("message-list")
        wrapper.innerHTML = ""
        var url = "https://chat.jacobcook4.repl.co/api/messages_list/"
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
          var list = data
          for (var i in list) {
           var message = `<span class="message">${list[i].text}</span><br>`
            wrapper.innerHTML += message 
          }
        })
        setTimeout(renderMessages, 5000)
      }
      var form = document.getElementById("form-wrapper")
      form.addEventListener("submit", function(e){
        e.preventDefault()
        var date = getDate()
        var time = getTime()
        // alert(date)
        // alert(JSON.stringify({"text":message, "date":date, "time":time}))
        // alert("form submitted")
        var url = "https://chat.jacobcook4.repl.co/api/message_create/"
        var message = document.getElementById("title").value
        // alert(message)
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify({"text":message, "date":date, "time":time})
        }).then(function(response){
          rendermessages()
          document.getElementById("form").reset()
        })
      })
      
    </script>
    
  </body>
</html>