<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/frontend/styles.css">
    <title>Chat</title>
  </head>
  <body class="light">
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'register' %}">Register</a></p>
    <div>
      <button onclick="changeTheme()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </svg>
      </button>
    </div>
    <script type="text/javascript">
      function changeTheme(){
        // var div = document.getElementById("theme")
        var body = document.getElementsByTagName("body")[0]
        if (body.className == "light") {
          body.className = "dark"
        }
        else {
          body.className = "light"
        }
      }
    </script>
    <div id="form-wrapper">
      <form id="form">
        <input id="title" type="text" name="message" placeholder="send a message">
        <input id="send" type="submit" value="Send message">
      </form>
    </div>
    <div id="message-list">
      
    </div>
<!--     </div> -->
    
    <script type="text/javascript">
      function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function getDate(){
    var date = new Date()
    var day = date.getDate()
    var month = date.getMonth()+1
    var year = date.getFullYear()
    return(`${year}-${month}-${day}`)
  }
  function getTime(){
    var today = new Date()
    var hour = today.getHours()
    var minutes = today.getMinutes()
    var seconds = today.getSeconds()
    return(`${hour}:${minutes}:${seconds}`)
  }
  var csrftoken = getCookie('csrftoken');

      renderMessages()
      // posts = []
      function renderMessages(){
        var wrapper = document.getElementById("message-list")
        wrapper.innerHTML = ""
        var url = "https://chat.jacobcook4.repl.co/api/messages_list/"
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
          var list = data
          for (var i in list) {
           // posts.push(list[i]) 
           // var message = `<span class="message">${list[i].text}</span><br>`
            var message = `
            <div>
              <h4 class="message">${list[i].sender}: ${list[i].text}</h4>
              <p>${list[i].date} ${list[i].time}</p>
            </div>
            `
            wrapper.innerHTML += message 
          }
        })
        setTimeout(renderMessages, 5000)
      }
      var form = document.getElementById("form-wrapper")
      form.addEventListener("submit", function(e){
        e.preventDefault()
        var textField = document.getElementById("title")
        var date = getDate()
        var time = getTime()
        // alert(date)
        // alert(JSON.stringify({"text":message, "date":date, "time":time}))
        // alert("form submitted")
        var url = "https://chat.jacobcook4.repl.co/api/message_create/"
        var message = document.getElementById("title").value
        // alert(message)
        fetch(url, {
          method: "POST",
          headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken
          },
          body: JSON.stringify({"text":message, "date":date, "time":time})
        }).then(function(response){
          rendermessages()
          document.getElementById("form").reset()
        })
        textField.value = ""
      })
      
    </script>
    
  </body>
</html>