.light {
  transition-property: background-color color;
  transition-duration: 500ms;
  transition-delay: 100ms;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}
.dark {
  transition-property: background-color color;
  transition-duration: 500ms;
  transition-delay: 100ms;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
.navbar-dark {
  transition-property: background-color color;
  transition-duration: 500ms;
  transition-delay: 100ms;
}
.navbar-light {
  transition-property: background-color color;
  transition-duration: 500ms;
  transition-delay: 100ms;
}
#form-wrapper {
  padding-bottom: 2rem !important;
/*   border: 2px solid grey; */
}